jobs:
  # Azure pipelines do not support cross-product matrix strategies yet.
  # A work-around is to use a template.
  # See https://github.com/Microsoft/azure-pipelines-yaml/issues/20
  # And https://developercommunity.visualstudio.com/idea/1008351/add-cross-product-matrix-strategy.html
  - template: azure-pipelines-tests.yml
    parameters:
      vmImages:
        - 'ubuntu-16.04'
        - 'ubuntu-18.04'
        - 'ubuntu-20.04'
        - 'macos-latest'
      pythonVersions:
        - '2.7'
        - '3.5'
        - '3.6'
        - '3.7'
        - '3.8'

  - job: ShellCheck

    pool:
      vmImage: ubuntu-latest

    steps:
      - bash: |
            set -e
            sudo apt update
            sudo apt install shellcheck
        displayName: Install ShellCheck

      - script: shellcheck pipenv-activate.sh tests/run_all_tests tests/*_test.sh tests/test_helpers
        displayName: Run sources through ShellCheck

